*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.hideScroll::-webkit-scrollbar {
    display: none; 
  }
  
  .linear{
    background-image: linear-gradient(to top, rgb(57, 51, 51), rgb(149, 143, 143));
    opacity: 0.5;
  }

.images:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease; 
    cursor: pointer;
}